body {
    background-color: azure;
    


}

title{
    font-family: 'Sacramento', cursive;
}

h1 {
    
    color: #5ca0d3;
    font-family: 'Sacramento', cursive;
    font-family: 'Pacifico', cursive;           
    
}

h2 {
  
    color: #5ca0d3;
    margin: 0px, 0px, 0px, 0px;
    font-family: 'Sacramento', cursive;
    font-family: 'Pacifico', cursive;
    
}

button{
    border-style: dashed;
    font-style: initial;
    font-size: x-small;
}

.share{
    font-size: small;
    font-family: monospace;
}



textarea{
    font-family: monospace;
}
 
div {
    background-color:white;
    height: 200px;
    width: 200px;
    display: inline-block;

    
}

span{
    background-color: #5ca0d3;
}

p {
    font-family: 'Sacramento', cursive;
    font-family: 'Pacifico', cursive;
    font-family: 'Gloria Hallelujah', cursive;
    
    
}

small{
    font-family: verdana, sans-serif;
   
}

